ARCHS = arm64
CODE_SIGNING_ALLOWED = NO
ENABLE_HARDENED_RUNTIME = YES
EXECUTABLE_NAME = VoiceVAC
GENERATE_INFOPLIST_FILE = NO
INFOPLIST_FILE = Config/Info.plist
MACOSX_DEPLOYMENT_TARGET = 26.0
PRODUCT_BUNDLE_IDENTIFIER = io.voivox.app
PRODUCT_NAME = Voice VAC
SUPPORTED_PLATFORMS = macosx
SWIFT_STRICT_CONCURRENCY = complete
SWIFT_VERSION = 6.0
